/* Variables */

/* Colors: https://coolors.co/28536b-c2948a-7ea8be-f6f0ed-bbb193 */
:root {
    --main-bg-color: #ffffff;
    --main-button-color: #c2948a;
    --main-button-color-hover: #b3857b;
    --main-button-color-active: #c2948a;
    --main-font-color: #28536b;
    --main-font-color-2: #7ea8be;
    --main-button-color-2: #bbb193;
}

/* Misc */
:root {
    --border-radius: 5px;
}

:root {
    --header-background-color: grey;
    --header-background-color: #c0637e;
    --widget-contents-line-color: #bfbfbf;
    --card-title-color: #737373;
    --container-guide-text: #bfbfbf;
    --section-title-color: #3e3e3e;
    --text-container-background-color : #f5f5f5;
    --navigation-boarder-line: #979797;
    --box-hover-border-color: black;
    --profile-oval-background-color: #d8d8d8;
}
