/* CSS Grid - logic */

.grid {
    display: grid;
    position: relative;
    grid-template-columns: 
                        10% auto 10%;

    grid-template-rows: 
                        91px
                        auto
                        80px;

    grid-template-areas:
        "header header header"
        "left center right"
        "footer footer footer";
    
    min-height: 100vh;
    
}

@media screen and (max-width: 600px) {
    .grid{ 
        grid-template-areas:
            "header"
            "left"
            "center"
            "right"
            "footer";

        grid-template-columns: 100%;
        grid-template-rows: 120px 
                            20px 
                            1fr
                            20px 
                            30px;
    }
}

.grid .header {
    grid-area: header;
}

.grid .left {
    grid-area: left;
}

.grid .center {
    grid-area: center;
    max-width: 1300px;
}

.grid .right {
    grid-area: right;
}

.grid .footer {
    grid-area: footer;
}

/* Set a border to the grid divs for easier debugging 
.grid div {
    -webkit-box-shadow:inset 0px 0px 0px 1px rgb(214, 214, 214);
    -moz-box-shadow:inset 0px 0px 0px 1px rgb(214, 214, 214);
    box-shadow:inset 0px 0px 0px 1px rgb(214, 214, 214);
}
*/